* {
    font-family: 'Nunito Sans';
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    padding: 3px;
    background-color: #cbd9f7;
  }
  
  .game-container {
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 200px;
  }
  
  header {
    display: flex;
    justify-content: center
  }
  
  .inputContainer {
    width: 100%;
    height: 303px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    margin:25px;
    border: 1px solid #979797;
  }
  
  .inputArea {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #4c7ef3;
    color: #fff;
    cursor: pointer;
  }
  
  #getFortuneButton {
    padding: 20px;
    width: 169px;
    height: auto;
    border: none;
    font-weight: 700;
    font-size: 14px;
  }
  
  .instructions {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .instruction {
    width: 300px;
    padding: 2px;
    text-align: center;
  }
  
  .instructions h3 {
    font-size: 14px;
  }